@boardDim: 8;
@squareSize: 60px;

@darkColor: darkslategray;
@lightColor: lightslategray;
@highlightColor: steelblue;

#app {
    box-sizing: border-box;

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
}

#mainContainer {
    height: 100%;
    display: flex;
    align-items: center;

    &.gameContainer {
        flex-direction: row;
        justify-content: space-evenly;

        .menuContainer {
            width: @boardDim * @squareSize;
            height: @boardDim * @squareSize;

            #menu {
                height: 60px;

                &>.menuButton {
                    padding: unset;
                }
            }
        }
    }

    &.menuContainer {
        flex-direction: column;

        #messages {
            text-align: center;
        }
    }
}

#splash {
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100%;

    #messages {
        flex: 1;
        text-align: center;
    }
}

.menuButton {
    padding: 15px 32px;
}

.menuContainer {
    flex-direction: column;
    display: flex;

    #messages {
        flex: 1;
    }
}

#game {
    // margin: 0 auto;
}

#menu {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.menuButton {
    background-color: @darkColor;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    flex: 1;
    margin: 5px;

    &:hover {
        background-color: @highlightColor;
        cursor: pointer;
    }

    &:disabled {
        background-color: @lightColor;
        cursor: default;
    }
}

#board {
    width: @boardDim * @squareSize;
    height: @boardDim * @squareSize;
    display: flex;
    flex-wrap: wrap;
}

.captured {
    width: @boardDim * @squareSize;
    min-height: @squareSize + 5;
    display: flex;
    flex-wrap: wrap;
}

.boardPiece {
    cursor: default;

    &.canDrag {
        cursor: move;
    }

    &.isDragging {
        opacity: 0.5;
    }
}

.square {
    height: @squareSize;
    width: @squareSize;

    &.gray {
        background-color: @lightColor;
    }

    &.white {
        background-color: white;
    }
}

.piece {
    font-size: @squareSize;
    line-height: 1;
    font-family: Symbol, "Apple Symbols";
    color: black;
    text-align: center;
    width: @squareSize;
}

#messages {
    padding: 5px;

    .message {
        font-family: Arial;
        color: black;
        display: block;
        height: @squareSize / 2;
    }

    .successMessage {
        color: @darkColor;
    }

    .failMessage {
        color: darkred;
    }
}

.fade-enter {
    opacity: 0.01;
    // font-size: 0;
}

.fade-enter-active {
    opacity: 1;
    // font-size: 16px;
    // transition: opacity 500ms ease-out, font-size 500ms ease-in 500ms;
    transition: opacity 500ms ease-out;
}

.fade-exit {
    opacity: 1;
    font-size: 16px;
}

.fade-exit-active {
    opacity: 0.01;
    font-size: 0;
    transition: opacity 500ms ease-in, font-size 500ms ease-in 500ms;
}

.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.modal {
    position: fixed;
    background-color: white;
    height: auto;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 10px;
    z-index: 2;
    text-align: right;

    .modalContent {
        padding: 10px;
        text-align: center;
    }

    .closeModalButton {
        color: @darkColor;
        cursor: pointer;

        &:hover {
            color: @highlightColor;
        }
    }
}

#copyUrlContainer {
    white-space: nowrap;

    .copyInput {
        min-height: 40px;
        width: 500px;
        padding: 7px 8px;
        font-size: 16px;
        color: @darkColor;
        vertical-align: middle;
        border: 1px solid @darkColor;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .copyButton {
        min-height: 40px;
        position: relative;
        display: inline-block;
        padding: 6px 12px;
        font-size: 16px;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 24px;
        color: white;
        background-color: @darkColor;
        vertical-align: middle;
        border: none;
        text-decoration: none;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:hover {
            background-color: @highlightColor;
            cursor: pointer;
        }
    }
}
