@boardDim: 8;
@squareSize: 60px;

#app {
    display: flex;
    height: 100%;
}

#mainContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game {
    margin: 0 auto;
}

#menu {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;

    .menuButton {
        background-color: darkslategray;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;

        &:hover {
            background-color: steelblue;
            cursor: pointer;
        }
    }
}

#board {
    width: @boardDim * @squareSize;
    height: @boardDim * @squareSize;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.boardPiece {
    cursor: default;
}

.boardPiece.canDrag {
    cursor: move;
}

.boardPiece.isDragging {
    opacity: 0.5;
}

.square {
    height: @squareSize;
    width: @squareSize;
}

.square.gray {
    background-color: gray;
    background-color: lightslategray;
}

.square.white {
    background-color: white;
}

.piece {
    font: @squareSize Arial;
    color: black;
    text-align: center;
    width: @squareSize;
}

#messages {
    margin-top: auto;
    margin-bottom: 50px;
    .message {
        font-style: Arial;
        color: black;
        text-align: center;
        display: block;
    }

    .successMessage {
        color: darkslategray;
    }

    .failMessage {
        color: darkred;
    }
}

.fade-enter {
    opacity: 0.01;
    // font-size: 0;
}
.fade-enter-active {
    opacity: 1;
    // font-size: 16px;
    // transition: opacity 500ms ease-out, font-size 500ms ease-in 500ms;
    transition: opacity 500ms ease-out;
}
.fade-exit {
    opacity: 1;
    font-size: 16px;
}
.fade-exit-active {
    opacity: 0.01;
    font-size: 0;
    transition: opacity 500ms ease-in, font-size 500ms ease-in 500ms;
}
